nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 14px;
    /*space around left and right*/
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.hero{background-image: url(../images/ronald-felton-6c86TCPmNRQ-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding-right: 250px;

}



nav .logo {
    width: 700px;
    height: fit-content;
    align-content: space-around;
    padding: 200px 250px;
}


.hero {
    display: flex;
    height: 100vh;
}

.hero-content {
    text-align: center;
    padding: 60px;
    margin: 90px;
    margin-right: 0px;
}

.hero-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffd835;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    margin: auto;
}


.hero-content h6 {
    font-size: 16px;
    margin:10px 0px;
    color: #ffd835;
    padding-top: 0;
}

.hero-content button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgb(236, 85, 30);
    color: white;
    border: none;
    border-radius: 8px;
}

.text-black {
    color: black;
}

.text-bold {
    font-weight: bold;
}


/* Hover effect for links */
.nav-items a:hover {
    color: magenta;
}


body {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}