nav {
    /* background-color: #6c777c; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    gap: 30px;
    
    
}


.logo {
    width: 70%;
    
    
}

.text-white {
    color: white;
    word-spacing: 30px;
    
}

.text-bold {
    font-weight: bold;

}


/* Hover effect for links */
.nav-items a:hover {
    color: magenta;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url(../images/background.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: white;

}

.content1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40%;
    width: 90%;
}

.content2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40%;
}

.content3{
    font-size: 18px;
    word-break: break-all;
    margin-left: 40%;
    width: 85%;
}

#dis-but{
    background-color: #89CFF0;
    border-radius: 20px;
    height: 40px;
    width: 130px;
  
    

}

.sec2 {
    margin-left: 30%;
    font-size: 50px;
    color: #6c777c; ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px auto;
    margin-top: 20%;
    

}

.sec-p {
    color: rgb(158, 106, 27);
    font-weight: bold;
    font-size: 20px;
    margin-left: 20%;
    text-align: center;
}

.sec-btn1 {
    background-color: orange;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-top: 15%;
    margin-left: 30%;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.sec-btn2 {
    background-color: rgb(236, 79, 31);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-top: 15%;
    margin-left: 5%;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    cursor: pointer;
}